* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
}

header h1 {
	margin-bottom: 20px;
	text-align: center;
	color: #333;
}

.btn-link {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
}

.btn-link:hover {
	background-color: #45a049;
}

main {
	text-align: center;
}

/* Preloader styles */

/* Preloader styles */
/* Deck container styling */
.pokemon-deck {
	margin-top: 20px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

/* Styling for selected card border */
.selected-card-border {
	border: 2px solid #ffcb05;
}
